* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #fff;
  color: #000;
  line-height: 1.5em;
}

h1 {
  font-size: 22px;
}

img {
  width: 100%;
  height: auto;
}

header {
  background-color: #a4a4a4;
}

a {
  color: inherit;
}

input {
  width: 100%;
  padding: 8px 20px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #fff;
  color: inherit;
}

::placeholder {
  color: #000;
}

main {
  padding: 50px 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.main-header-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.main-header-links-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-grow: 1;
}

.main-nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.main-nav-text-input {
  flex-grow: 3;
}

.main-nav-search-wrapper {
  position: relative;
  flex-grow: 1;
}

.main-nav-search-input {
  padding-left: 30px;
}

.fa-magnifying-glass {
  padding: 10px;
  position: absolute;
  left: 0;
}

.mb20 {
  margin-bottom: 20px;
}
